<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="cmpE00B2A586A7E04AEA062FBCC529199DD" Guid="{D407B0E4-099E-4828-B637-FEB65A64DDD8}">
                <File Id="fil314CA3CA2085C9E6AFB0D54561EC0ABD" Source="$(var.GoogleContactsSync.TargetDir)\GOContactSync.exe" />
            </Component>
            <Component Id="cmp4DEB40CB39E09467B6267CE6BF48B276" Guid="{14414E2E-361F-4BD0-865E-146DDE67B8EB}">
                <File Id="fil91C0229DF6A13DB5B4BF89871EA6D78D" Source="$(var.GoogleContactsSync.TargetDir)\GOContactSync.exe.config" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="GoogleContactsSync.Binaries">
            <ComponentRef Id="cmpE00B2A586A7E04AEA062FBCC529199DD" />
            <ComponentRef Id="cmp4DEB40CB39E09467B6267CE6BF48B276" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="cmp9920543B1B2CC8C5FAED097E2B5DD379" Guid="{9346FC6B-62B7-40C9-A1D5-706735565403}">
                <File Id="fil5C0EFC612CF9E627EF220205CD055B2E" Source="$(var.GoogleContactsSync.TargetDir)\GOContactSync.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="GoogleContactsSync.Symbols">
            <ComponentRef Id="cmp9920543B1B2CC8C5FAED097E2B5DD379" />
        </ComponentGroup>
    </Fragment>
</Wix>