<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="cmpED5C8A3AE00B074A820B89DE7C33330D" Guid="{B3F44548-BDC6-4920-9C2F-03F7120E7AAE}">
                <File Id="fil477678C73DB17A7805DE14031B7B5A86" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\GOContactSync.exe" />
            </Component>
            <Component Id="cmpDFCC9F96E95CF1BBDFFEA52B8320F30F" Guid="{73DCDA14-4C2B-48CB-B1F7-64ED85D9DC31}">
                <File Id="fil126099A7340FE448F8F1086D4B99F6BE" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\GOContactSync.exe.config" />
            </Component>
            <Component Id="cmpF0B42DAEDDFA0E7D8297C421E296129A" Guid="{C7318920-B6E2-4FA3-979E-264A2C9A0147}">
                <File Id="filED5FFFD6FE703D7A155374D81C00AE19" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\GOContactSync.pdb" />
            </Component>
            <Component Id="cmp137C8851C2DCF427E0EDFE09AF6B4458" Guid="{C0988349-AE33-4A7C-A352-45D7EEF8A3E9}">
                <File Id="filD5C2B985B981AC6C3251A6D6F69F4DEC" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\GOContactSync.vshost.exe" />
            </Component>
            <Component Id="cmpA339EE3CDB9A676D1EC22479DF1381EF" Guid="{62584AD6-967C-4572-ACB1-6CD90B1E7B7E}">
                <File Id="fil364F2B648C4296E553D64C7AE852A2F5" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\GOContactSync.vshost.exe.config" />
            </Component>
            <Component Id="cmpA489E3B4CECBBB56D04FD88CB4ED11D0" Guid="{B3C0530C-EF10-4FCA-8E4C-730ED62B824B}">
                <File Id="filFE1A7E33DAE74007DDC41A37CF480328" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\GOContactSync.vshost.exe.manifest" />
            </Component>
            <Component Id="cmpC6285853BBF616B4B3800161AB43F975" Guid="{D8EC0F1B-E20B-4169-8B5C-BF78695711CD}">
                <File Id="filFE8A626634E4E8A97FCFABA065E8DB6A" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.Auth.dll" />
            </Component>
            <Component Id="cmpEAC5E914901C216168084652DFF07D10" Guid="{25834B3C-16BB-4495-9552-26822A57F760}">
                <File Id="fil7BE75048F853F0359BA5D4E2E1170E2D" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.Auth.pdb" />
            </Component>
            <Component Id="cmp0FD5F9013D03186EC6C855AA1DD1D777" Guid="{D492C6AD-1CF7-41C1-A8B2-143BDE88A21C}">
                <File Id="fil782E6374278C1199C7A6CA1D5493A0DA" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.Auth.PlatformServices.dll" />
            </Component>
            <Component Id="cmp7D209E4A2AF372BC3A721129A78A6D6C" Guid="{B7950598-21AC-4BA6-8A58-AD5D31EE5D90}">
                <File Id="filC804C9273E9C89A2237737FA47CAD676" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.Auth.PlatformServices.pdb" />
            </Component>
            
            
            <Component Id="cmp4EDE96F5E60BA7A2F9FA4811C3F8EFF9" Guid="{0993882F-5A1E-497B-BCE6-E98B9FEA4D19}">
                <File Id="filEB514894AC8ED2281F3D7E2092077387" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.Calendar.v3.dll" />
            </Component>
            <Component Id="cmp822CF73A9462799DC1EDAFA7575DE559" Guid="{F3245DB6-4100-4661-8B54-BA3F653020C2}">
                <File Id="fil221D6F00BACFF5FFED66F957B25227C6" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.Calendar.v3.pdb" />
            </Component>
            
            <Component Id="cmpC8455FF9A78C881C7A8F6EA86E91F29E" Guid="{F4CDFC02-DD8D-401E-96EA-1AD91DBDDF6E}">
                <File Id="fil25E61EB12888CDBC527BB33526286E17" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.Core.dll" />
            </Component>
            <Component Id="cmp47D7157D80D3C5106E967B06B3DD1F3D" Guid="{FEBECBA9-7438-484D-8383-B05866C9C597}">
                <File Id="filAF047882DAC55B1A758E0D788CF6AC0E" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.Core.pdb" />
            </Component>
            
            <Component Id="cmp2D92EF7487DD3923C06818EF87A12862" Guid="{DB67B5A3-036D-45CC-B2DF-1E0B1F27F517}">
                <File Id="filBB9CA12923DFE730B1B33BE99BC32DEE" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.dll" />
            </Component>
            <Component Id="cmpD26D296DDA1946BF27C016EFBA3CFB65" Guid="{7E85912A-3BEB-4114-B8ED-A80B27CD9DE0}">
                <File Id="filC35CD1AA4AF937D1951901567F4789C2" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.pdb" />
            </Component>
            <Component Id="cmp5D4C8B103645E32F1EBC228BA7ECC0EB" Guid="{A8E02F81-8FF0-4518-AA86-D82E73E45801}">
                <File Id="filDF4930303645CC79F225F11CF5128A75" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.PlatformServices.dll" />
            </Component>
            <Component Id="cmp537FD39523184DC7A4FB6EDCFC07A2C7" Guid="{35CEDFD3-4ABB-4D76-8566-FE86547DE2F6}">
                <File Id="fil5364B8E9BAF46B0982D26E7B3963534C" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.PlatformServices.pdb" />
            </Component>
            
            
            <Component Id="cmpFE385C1766E7C35F38A2FA76D0303187" Guid="{7599F3A5-C725-4467-BC93-87CDEE4E749E}">
                <File Id="filDFE4BEA3D1BF18D2E66DC427FA6647D3" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.GData.AccessControl.dll" />
            </Component>
            <Component Id="cmp3578439E84A7640AFEBF890BEF51DF9F" Guid="{1583F548-12F5-495F-AE78-38944BEB9B56}">
                <File Id="filFFD513F7276ECCEA801AD56D1BDBAAB2" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.GData.Client.dll" />
            </Component>
            <Component Id="cmp4C88EF534D672489E83C8B5026CA90CA" Guid="{5D4F2009-155F-475F-8470-88D04DB88CBA}">
                <File Id="fil0AF9DEC08066A918CBB71E588E0C98A4" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.GData.Contacts.dll" />
            </Component>
            <Component Id="cmp4188C2728F2FD2DFC8A4447B4C7902B7" Guid="{C4241E6B-AA1B-4E20-A3B4-BFABA99FD528}">
                <File Id="filA1E5BD1C0A48324E1C685B6E73E52945" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.GData.Documents.dll" />
            </Component>
            <Component Id="cmp0B3CE06EB2D8BD723898ADF2B90DA31D" Guid="{03473717-72AF-4B05-93B7-B0EBEBE53CDB}">
                <File Id="filDE994DD767B62603F583333A71F589FB" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.GData.Extensions.dll" />
            </Component>
            <Component Id="cmpE5C01B5677C30D575CC15B4B558A57E0" Guid="{FF5F7C04-91C7-4BEE-B7FD-3F906F20E1B7}">
                <File Id="filD17F9AFAC4DF3D7A44817DFBA8510C1A" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\log4net.dll" />
            </Component>
            
            <Component Id="cmpF74F5FF80224DCCCF8F44A8FC568A770" Guid="{50615B9A-27DA-4E07-B162-403B916AE739}">
                <File Id="filAA413DCE37439E3AE0D8CF523078DF06" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Microsoft.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmpF56482EFA031899CFF7366CDD605679A" Guid="{35833B41-E7EE-4466-BB6D-8FFADC90F970}">
                <File Id="fil36C8DDA68588B2458D07C9E96EC87081" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Microsoft.Threading.Tasks.Extensions.Desktop.dll" />
            </Component>
            
            <Component Id="cmp820F39F085C1575998824AA2BD0C105B" Guid="{42C55099-AD3E-4B58-BBC2-88164070CE3E}">
                <File Id="fil41F7C44C0FC8619286B0ED0371C65599" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Microsoft.Threading.Tasks.Extensions.dll" />
            </Component>
            
            
            <Component Id="cmpE48528C4F5932A4EFD89F7331108F45D" Guid="{80AE2D2E-7F95-479C-AF22-59AC56291EEA}">
                <File Id="filF1B84C2C6BCC693224B7A7959445B74F" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            
            <Component Id="cmpE0A8165B0AA9BAB548691F12343F9C48" Guid="{7E06E62A-35AF-45BA-8D7D-65ADECB1DFCB}">
                <File Id="filA113131CA290F3E8B5E7B70A8D1C0E08" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\System.IO.dll" />
            </Component>
            
            <Component Id="cmpC8A1E3DA32F940CB09D739B5EE62F0C6" Guid="{46B77571-26EB-4666-B170-AAE02AE5EC8A}">
                <File Id="filB9F0F71FEA7763148A3031525FE3B078" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmp48F8AE9D8690B2FDA88CBD39FDB08A41" Guid="{46ABFA9D-1896-4487-8506-7FE5D36A47E4}">
                <File Id="fil0DAB7F58FD075AFDE8B002F706C65074" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\System.Net.Http.Extensions.dll" />
            </Component>
            
            <Component Id="cmp03CA1E50A74F188019928E3B0B3ADCD2" Guid="{7F0E7B32-7CF5-43E4-9AFC-A0626F20BBEC}">
                <File Id="fil289A5776438080F3961A19A0A18BED4A" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\System.Net.Http.Primitives.dll" />
            </Component>
            
            <Component Id="cmpE70042D0CF83AA9A57F0D03E03DCDF98" Guid="{739A73E2-8CE8-4406-9EC4-CE051EA58B60}">
                <File Id="fil6D1104925D7D598F2E757664E2358DEA" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\System.Net.Http.WebRequest.dll" />
            </Component>
            
            
            <Component Id="cmp186835B1EAF2C7A34732B6D110B86959" Guid="{75A0876F-DD49-4ADC-9A1D-C8A54C870BA2}">
                <File Id="fil4A6D1225EC8D05AAE6A1D043EFDD9874" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\System.Runtime.dll" />
            </Component>
            
            <Component Id="cmp22FD8CD875BED817540E0E85640FD0B1" Guid="{262ADBF1-2BA7-4152-B853-2A009FD4FDB9}">
                <File Id="filAADC047E625055BC2A586A1DC6BE3218" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\System.Threading.Tasks.dll" />
            </Component>
            
            <Component Id="cmpDF29F676AC20EFA3CAA7F080A5FC30C3" Guid="{8B40A71F-D70C-4868-B8C0-70A6D3E3483C}">
                <File Id="fil788B95D6BFB3C8716622A81716F135E0" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Zlib.Portable.dll" />
            </Component>
            
            <Directory Id="dir4DC39E28E88A7F1F26918FEF6A2132A1" Name="Resources">
                <Component Id="cmp258FF675D9262936281EFF416C28331D" Guid="{587561FB-F1E7-499C-BA7D-FC7C4840AE47}">
                    <File Id="filBC680A44C4F0C0C9C7E427E99D3D95E4" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Resources\contacts-sync.ico" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="GoogleContactsSync.Binaries">
            <ComponentRef Id="cmpED5C8A3AE00B074A820B89DE7C33330D" />
            <ComponentRef Id="cmpDFCC9F96E95CF1BBDFFEA52B8320F30F" />
            <ComponentRef Id="cmpF0B42DAEDDFA0E7D8297C421E296129A" />
            <ComponentRef Id="cmp137C8851C2DCF427E0EDFE09AF6B4458" />
            <ComponentRef Id="cmpA339EE3CDB9A676D1EC22479DF1381EF" />
            <ComponentRef Id="cmpA489E3B4CECBBB56D04FD88CB4ED11D0" />
            <ComponentRef Id="cmpC6285853BBF616B4B3800161AB43F975" />
            <ComponentRef Id="cmpEAC5E914901C216168084652DFF07D10" />
            <ComponentRef Id="cmp0FD5F9013D03186EC6C855AA1DD1D777" />
            <ComponentRef Id="cmp7D209E4A2AF372BC3A721129A78A6D6C" />
            
            
            <ComponentRef Id="cmp4EDE96F5E60BA7A2F9FA4811C3F8EFF9" />
            <ComponentRef Id="cmp822CF73A9462799DC1EDAFA7575DE559" />
            
            <ComponentRef Id="cmpC8455FF9A78C881C7A8F6EA86E91F29E" />
            <ComponentRef Id="cmp47D7157D80D3C5106E967B06B3DD1F3D" />
            
            <ComponentRef Id="cmp2D92EF7487DD3923C06818EF87A12862" />
            <ComponentRef Id="cmpD26D296DDA1946BF27C016EFBA3CFB65" />
            <ComponentRef Id="cmp5D4C8B103645E32F1EBC228BA7ECC0EB" />
            <ComponentRef Id="cmp537FD39523184DC7A4FB6EDCFC07A2C7" />
            
            
            <ComponentRef Id="cmpFE385C1766E7C35F38A2FA76D0303187" />
            <ComponentRef Id="cmp3578439E84A7640AFEBF890BEF51DF9F" />
            <ComponentRef Id="cmp4C88EF534D672489E83C8B5026CA90CA" />
            <ComponentRef Id="cmp4188C2728F2FD2DFC8A4447B4C7902B7" />
            <ComponentRef Id="cmp0B3CE06EB2D8BD723898ADF2B90DA31D" />
            <ComponentRef Id="cmpE5C01B5677C30D575CC15B4B558A57E0" />
            
            <ComponentRef Id="cmpF74F5FF80224DCCCF8F44A8FC568A770" />
            <ComponentRef Id="cmpF56482EFA031899CFF7366CDD605679A" />
            
            <ComponentRef Id="cmp820F39F085C1575998824AA2BD0C105B" />
            
            
            <ComponentRef Id="cmpE48528C4F5932A4EFD89F7331108F45D" />
            
            <ComponentRef Id="cmpE0A8165B0AA9BAB548691F12343F9C48" />
            
            <ComponentRef Id="cmpC8A1E3DA32F940CB09D739B5EE62F0C6" />
            <ComponentRef Id="cmp48F8AE9D8690B2FDA88CBD39FDB08A41" />
            
            <ComponentRef Id="cmp03CA1E50A74F188019928E3B0B3ADCD2" />
            
            <ComponentRef Id="cmpE70042D0CF83AA9A57F0D03E03DCDF98" />
            
            
            <ComponentRef Id="cmp186835B1EAF2C7A34732B6D110B86959" />
            
            <ComponentRef Id="cmp22FD8CD875BED817540E0E85640FD0B1" />
            
            <ComponentRef Id="cmpDF29F676AC20EFA3CAA7F080A5FC30C3" />
            
            <ComponentRef Id="cmp258FF675D9262936281EFF416C28331D" />
        </ComponentGroup>
    </Fragment>
</Wix>