<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="cmpED5C8A3AE00B074A820B89DE7C33330D" Guid="{0B78202F-4713-41C5-B499-9ABB5DE9BD88}">
                <File Id="fil477678C73DB17A7805DE14031B7B5A86" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\GOContactSync.exe" />
            </Component>
            <Component Id="cmpDFCC9F96E95CF1BBDFFEA52B8320F30F" Guid="{9D5BA1C2-C02F-4794-9DBD-1594C75814A8}">
                <File Id="fil126099A7340FE448F8F1086D4B99F6BE" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\GOContactSync.exe.config" />
            </Component>
            <Component Id="cmpF0B42DAEDDFA0E7D8297C421E296129A" Guid="{82149CDC-2819-403A-9BCE-657361EBAE0F}">
                <File Id="filED5FFFD6FE703D7A155374D81C00AE19" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\GOContactSync.pdb" />
            </Component>
            <Component Id="cmpC6285853BBF616B4B3800161AB43F975" Guid="{1A3A4529-7193-4F34-8402-EED5407FA336}">
                <File Id="filFE8A626634E4E8A97FCFABA065E8DB6A" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.Auth.dll" />
            </Component>
            <Component Id="cmpEAC5E914901C216168084652DFF07D10" Guid="{0DD3635D-868F-4222-9F0A-2369F33FA529}">
                <File Id="fil7BE75048F853F0359BA5D4E2E1170E2D" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.Auth.pdb" />
            </Component>
            <Component Id="cmp0FD5F9013D03186EC6C855AA1DD1D777" Guid="{BD2CFC5B-7626-4979-B50B-2FC366E5CCD4}">
                <File Id="fil782E6374278C1199C7A6CA1D5493A0DA" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.Auth.PlatformServices.dll" />
            </Component>
            <Component Id="cmp7D209E4A2AF372BC3A721129A78A6D6C" Guid="{462AF82A-1879-48E5-AAFF-A5AE034C3E5B}">
                <File Id="filC804C9273E9C89A2237737FA47CAD676" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.Auth.PlatformServices.pdb" />
            </Component>
            
            
            <Component Id="cmp4EDE96F5E60BA7A2F9FA4811C3F8EFF9" Guid="{F24281C3-DE3A-4277-A05E-55479FAEA76D}">
                <File Id="filEB514894AC8ED2281F3D7E2092077387" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.Calendar.v3.dll" />
            </Component>
            <Component Id="cmp822CF73A9462799DC1EDAFA7575DE559" Guid="{DB89DF2A-9DBD-4C2F-B702-8D5AAB9F46F6}">
                <File Id="fil221D6F00BACFF5FFED66F957B25227C6" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.Calendar.v3.pdb" />
            </Component>
            
            <Component Id="cmpC8455FF9A78C881C7A8F6EA86E91F29E" Guid="{9B7CE5BA-88DA-47ED-B6FB-3811537CA789}">
                <File Id="fil25E61EB12888CDBC527BB33526286E17" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.Core.dll" />
            </Component>
            <Component Id="cmp47D7157D80D3C5106E967B06B3DD1F3D" Guid="{4A8654F6-B586-42AD-A7FA-84B54C78892F}">
                <File Id="filAF047882DAC55B1A758E0D788CF6AC0E" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.Core.pdb" />
            </Component>
            
            <Component Id="cmp2D92EF7487DD3923C06818EF87A12862" Guid="{AC2A161E-45C4-43DF-8552-E7DE6D839118}">
                <File Id="filBB9CA12923DFE730B1B33BE99BC32DEE" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.dll" />
            </Component>
            <Component Id="cmpD26D296DDA1946BF27C016EFBA3CFB65" Guid="{BA73CB77-8D67-4CC1-AA02-FC5C6A81C668}">
                <File Id="filC35CD1AA4AF937D1951901567F4789C2" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.pdb" />
            </Component>
            <Component Id="cmp5D4C8B103645E32F1EBC228BA7ECC0EB" Guid="{6C02BF94-C762-4D84-8EF3-17C4C57770E0}">
                <File Id="filDF4930303645CC79F225F11CF5128A75" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.PlatformServices.dll" />
            </Component>
            <Component Id="cmp537FD39523184DC7A4FB6EDCFC07A2C7" Guid="{69C2A34D-D54D-4EE5-B6ED-CCA0B69F5BB5}">
                <File Id="fil5364B8E9BAF46B0982D26E7B3963534C" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.Apis.PlatformServices.pdb" />
            </Component>
            
            
            <Component Id="cmpFE385C1766E7C35F38A2FA76D0303187" Guid="{2741A136-700B-47B1-9B60-26377185253C}">
                <File Id="filDFE4BEA3D1BF18D2E66DC427FA6647D3" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.GData.AccessControl.dll" />
            </Component>
            <Component Id="cmp3578439E84A7640AFEBF890BEF51DF9F" Guid="{854EF547-3890-4DF0-9603-1C60A7D69C98}">
                <File Id="filFFD513F7276ECCEA801AD56D1BDBAAB2" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.GData.Client.dll" />
            </Component>
            <Component Id="cmp4C88EF534D672489E83C8B5026CA90CA" Guid="{223051AE-FFE6-422D-B68C-8BF7CB48D138}">
                <File Id="fil0AF9DEC08066A918CBB71E588E0C98A4" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.GData.Contacts.dll" />
            </Component>
            <Component Id="cmp4188C2728F2FD2DFC8A4447B4C7902B7" Guid="{35AE044E-BCBC-47C1-A048-7F6A2E514631}">
                <File Id="filA1E5BD1C0A48324E1C685B6E73E52945" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.GData.Documents.dll" />
            </Component>
            <Component Id="cmp0B3CE06EB2D8BD723898ADF2B90DA31D" Guid="{DCD32622-9EC2-4EDE-8E36-6EB1306B23EB}">
                <File Id="filDE994DD767B62603F583333A71F589FB" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Google.GData.Extensions.dll" />
            </Component>
            <Component Id="cmpE5C01B5677C30D575CC15B4B558A57E0" Guid="{70BDF1F2-2EE6-4744-B5D8-2395BD80475D}">
                <File Id="filD17F9AFAC4DF3D7A44817DFBA8510C1A" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\log4net.dll" />
            </Component>
            
            <Component Id="cmpF74F5FF80224DCCCF8F44A8FC568A770" Guid="{54256CDA-898F-43C5-9F2E-300507EBE76A}">
                <File Id="filAA413DCE37439E3AE0D8CF523078DF06" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Microsoft.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmpF56482EFA031899CFF7366CDD605679A" Guid="{77B08A11-2C11-45B1-8C68-505B94DCC82B}">
                <File Id="fil36C8DDA68588B2458D07C9E96EC87081" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Microsoft.Threading.Tasks.Extensions.Desktop.dll" />
            </Component>
            
            <Component Id="cmp820F39F085C1575998824AA2BD0C105B" Guid="{E7ED5993-B5B5-4172-8E99-244EE2037F15}">
                <File Id="fil41F7C44C0FC8619286B0ED0371C65599" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Microsoft.Threading.Tasks.Extensions.dll" />
            </Component>
            
            
            <Component Id="cmpE48528C4F5932A4EFD89F7331108F45D" Guid="{6FBD8CA1-319A-4E14-B09A-4D1EBA44907B}">
                <File Id="filF1B84C2C6BCC693224B7A7959445B74F" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            
            <Component Id="cmpE0A8165B0AA9BAB548691F12343F9C48" Guid="{5E594859-23C1-46D5-AB5D-ACA01B910D80}">
                <File Id="filA113131CA290F3E8B5E7B70A8D1C0E08" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\System.IO.dll" />
            </Component>
            
            <Component Id="cmpC8A1E3DA32F940CB09D739B5EE62F0C6" Guid="{07E4CACD-78FA-44E6-A10B-EA92904560E5}">
                <File Id="filB9F0F71FEA7763148A3031525FE3B078" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmp48F8AE9D8690B2FDA88CBD39FDB08A41" Guid="{ADFECE94-13E8-43E9-8E62-DA790DD8987D}">
                <File Id="fil0DAB7F58FD075AFDE8B002F706C65074" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\System.Net.Http.Extensions.dll" />
            </Component>
            
            <Component Id="cmp03CA1E50A74F188019928E3B0B3ADCD2" Guid="{85D04640-234C-46F7-B591-9AE952A0CF8D}">
                <File Id="fil289A5776438080F3961A19A0A18BED4A" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\System.Net.Http.Primitives.dll" />
            </Component>
            
            <Component Id="cmpE70042D0CF83AA9A57F0D03E03DCDF98" Guid="{253AA1C1-5985-41B1-A167-A040D3D88754}">
                <File Id="fil6D1104925D7D598F2E757664E2358DEA" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\System.Net.Http.WebRequest.dll" />
            </Component>
            
            
            <Component Id="cmp186835B1EAF2C7A34732B6D110B86959" Guid="{55DB8EEA-38E1-42F4-873C-613DABEBDBDC}">
                <File Id="fil4A6D1225EC8D05AAE6A1D043EFDD9874" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\System.Runtime.dll" />
            </Component>
            
            <Component Id="cmp22FD8CD875BED817540E0E85640FD0B1" Guid="{38334E2B-8D35-4156-AEF1-F93DD2139BE1}">
                <File Id="filAADC047E625055BC2A586A1DC6BE3218" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\System.Threading.Tasks.dll" />
            </Component>
            
            <Component Id="cmpDF29F676AC20EFA3CAA7F080A5FC30C3" Guid="{2572097A-E813-4D6D-851A-97294ED3EA64}">
                <File Id="fil788B95D6BFB3C8716622A81716F135E0" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Zlib.Portable.dll" />
            </Component>
            
            <Directory Id="dir4DC39E28E88A7F1F26918FEF6A2132A1" Name="Resources">
                <Component Id="cmp258FF675D9262936281EFF416C28331D" Guid="{04A6D795-BB6B-40AD-B36B-B1096E373DD5}">
                    <File Id="filBC680A44C4F0C0C9C7E427E99D3D95E4" KeyPath="yes" Source="$(var.GoogleContactsSync.TargetDir)\Resources\contacts-sync.ico" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="GoogleContactsSync.Binaries">
            <ComponentRef Id="cmpED5C8A3AE00B074A820B89DE7C33330D" />
            <ComponentRef Id="cmpDFCC9F96E95CF1BBDFFEA52B8320F30F" />
            <ComponentRef Id="cmpF0B42DAEDDFA0E7D8297C421E296129A" />
            <ComponentRef Id="cmpC6285853BBF616B4B3800161AB43F975" />
            <ComponentRef Id="cmpEAC5E914901C216168084652DFF07D10" />
            <ComponentRef Id="cmp0FD5F9013D03186EC6C855AA1DD1D777" />
            <ComponentRef Id="cmp7D209E4A2AF372BC3A721129A78A6D6C" />
            
            
            <ComponentRef Id="cmp4EDE96F5E60BA7A2F9FA4811C3F8EFF9" />
            <ComponentRef Id="cmp822CF73A9462799DC1EDAFA7575DE559" />
            
            <ComponentRef Id="cmpC8455FF9A78C881C7A8F6EA86E91F29E" />
            <ComponentRef Id="cmp47D7157D80D3C5106E967B06B3DD1F3D" />
            
            <ComponentRef Id="cmp2D92EF7487DD3923C06818EF87A12862" />
            <ComponentRef Id="cmpD26D296DDA1946BF27C016EFBA3CFB65" />
            <ComponentRef Id="cmp5D4C8B103645E32F1EBC228BA7ECC0EB" />
            <ComponentRef Id="cmp537FD39523184DC7A4FB6EDCFC07A2C7" />
            
            
            <ComponentRef Id="cmpFE385C1766E7C35F38A2FA76D0303187" />
            <ComponentRef Id="cmp3578439E84A7640AFEBF890BEF51DF9F" />
            <ComponentRef Id="cmp4C88EF534D672489E83C8B5026CA90CA" />
            <ComponentRef Id="cmp4188C2728F2FD2DFC8A4447B4C7902B7" />
            <ComponentRef Id="cmp0B3CE06EB2D8BD723898ADF2B90DA31D" />
            <ComponentRef Id="cmpE5C01B5677C30D575CC15B4B558A57E0" />
            
            <ComponentRef Id="cmpF74F5FF80224DCCCF8F44A8FC568A770" />
            <ComponentRef Id="cmpF56482EFA031899CFF7366CDD605679A" />
            
            <ComponentRef Id="cmp820F39F085C1575998824AA2BD0C105B" />
            
            
            <ComponentRef Id="cmpE48528C4F5932A4EFD89F7331108F45D" />
            
            <ComponentRef Id="cmpE0A8165B0AA9BAB548691F12343F9C48" />
            
            <ComponentRef Id="cmpC8A1E3DA32F940CB09D739B5EE62F0C6" />
            <ComponentRef Id="cmp48F8AE9D8690B2FDA88CBD39FDB08A41" />
            
            <ComponentRef Id="cmp03CA1E50A74F188019928E3B0B3ADCD2" />
            
            <ComponentRef Id="cmpE70042D0CF83AA9A57F0D03E03DCDF98" />
            
            
            <ComponentRef Id="cmp186835B1EAF2C7A34732B6D110B86959" />
            
            <ComponentRef Id="cmp22FD8CD875BED817540E0E85640FD0B1" />
            
            <ComponentRef Id="cmpDF29F676AC20EFA3CAA7F080A5FC30C3" />
            
            <ComponentRef Id="cmp258FF675D9262936281EFF416C28331D" />
        </ComponentGroup>
    </Fragment>
</Wix>